{% load static i18n %}

 <section class="p-b-105 p-t-70">
                <div class="container">
                    <div class="section-row section-row--fit">
                        <div class="section-col-4">
                            <h2 class="title-1 text-uppercase m-b-30">+ Adresimiz</h2>
                            <p class="text--s18 m-b-50"> Subaşı Mahallesi 232 Sokak No:2/1 Subaşı 35680 Torbalı/İZMİR</p>
                        </div>
                        <div class="section-col-4">
                            <h2 class="title-1 text-uppercase m-b-30">+ İletişim</h2>
                            <p class="text--s18 m-b-50">Telefon Numaramız : +90 (232) 868 56 56</p>
                        </div>
                        <div class="section-col-4">
                            <h2 class="title-1 text-uppercase m-b-30">+ Bize Yazın</h2>
                            <p class="text--s18 m-b-50">Email : <a href="info@izmirseramik.com.tr" class="__cf_email__" >info@izmirseramik.com.tr</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END CONTACT-->

            <!-- FOOTER-->
            <footer class="footer-2 p-b-5 p-t-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-col">
                                <div class="widget">
                                    <a href="home-project-showcase.html#">
                                        <img width="100px" src="{% static 'LOGO2.png' %}" alt="Tatee" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-col">
                                <div class="widget">
                                    <p class="text-center">Designed by CWA</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-col">
                                <div class="widget">
                                    <p class="text-center text-md-right">© 2025 igd . @kolayyetismiyor </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>