{% load static i18n %}
<div class="page-wrapper">
        <!-- HEADER-->
        <header id="header">
            <div class="header header-1 d-none d-lg-block js-header-1">
                <div class="header__bar">
                    <div class="wrap wrap--w1790">
                        <div class="container-fluid">
                            <div class="header__content">
                                <div class="logo">
                                    <a href="home-main.html#">
                                        <img width="200" src="{% static 'LOGO2.png' %}" alt="" />
                                    </a>
                                </div>
                                <div class="header__content-right">
                                    <nav class="header-nav-menu">
                                        <ul class="menu nav-menu">
                                            <li class="menu-item menu-item-has-children">
                                                <a href="home-main.html">DOKU</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'mermer.jpeg' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>MERMER </span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'BET.jpg' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>BETON </span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'WOOD.jpg' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>AHŞAP </span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'TERRAZO.jpg' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>DOĞAL TAŞ</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'DÜZCARO.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>DÜZ SERAMİK</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'FRİG.jpg' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>KONSEPT</span>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="home-main.html">RENK</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'beyaz.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>BEYAZLAR</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'gri.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>GRİLER</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'kahve.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>KAHVELER</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'siyah.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>SİYAHLAR</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'digerleri.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>DİĞERLERİ</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="home-main.html">EBAT</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static '32.png' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>30X60 Serileri</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static '61.png' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>60x60 Serileri</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static '45.png' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>45x45 Serileri</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static '161.png' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>60x120 Serileri</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static '121.png' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>20x90 Serileri</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="home-main.html">KULLANIM ALANLARI</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'İÇMEKAN.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>İÇ MEKANLAR</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'BANYO.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>BANYOLAR</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'BALKON.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>BALKONLAR</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'DIŞMEKAN.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>DIŞ MEKANLAR</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'ENDÜS.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>ENDÜSTRİYEL ALAN</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'HAVUZ.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>HAVUZ</span>
                                                        </a>
                                                    </li>
                                                     <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'MUTFAK.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>MUTFAK ARASI</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item">
                                                <a href="contact.html">İLETİŞİM</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="contact.html">İLETİŞİM</a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <div class="header-social">
                                        <ul class="list-social">
                                            <li class="list-social__item">
                                                <a class="ic-fb" href="home-main.html#">
                                                    <i class="zmdi zmdi-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-social__item">
                                                <a class="ic-insta" href="home-main.html#">
                                                    <i class="zmdi zmdi-instagram"></i>
                                                </a>
                                            </li>
                                            <li class="list-social__item">
                                                <a class="ic-twi" href="home-main.html#">
                                                    <i class="zmdi zmdi-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-social__item">
                                                <a class="ic-pinterest" href="home-main.html#">
                                                    <i class="zmdi zmdi-pinterest"></i>
                                                </a>
                                            </li>
                                            <li class="list-social__item">
                                                <a class="ic-google" href="home-main.html#">
                                                    <i class="zmdi zmdi-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-mobile d-block d-lg-none">
                <div class="header-mobile__bar">
                    <div class="container-fluid">
                        <div class="header-mobile__bar-inner">
                            <a class="logo" href="index.html">
                                <img width="100" src="{% static 'LOGO2.png' %}" alt="" />
                            </a>
                            <button class="hamburger hamburger--slider float-right" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <nav class="header-nav-menu-mobile">
                    <div class="container-fluid">
                        <ul class="menu nav-menu menu-mobile">
                             <li class="menu-item menu-item-has-children">
                                                <a href="home-main.html">DOKU</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'mermer.jpeg' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>MERMER </span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'BET.jpg' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>BETON </span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'WOOD.jpg' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>AHŞAP </span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'TERRAZO.jpg' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>DOĞAL TAŞ</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'DÜZCARO.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>DÜZ SERAMİK</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'FRİG.jpg' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>KONSEPT</span>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="home-main.html">RENK</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'beyaz.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>BEYAZLAR</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'gri.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>GRİLER</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'kahve.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>KAHVELER</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'siyah.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>SİYAHLAR</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'digerleri.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>DİĞERLERİ</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="home-main.html">EBAT</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static '32.png' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>30X60 Serileri</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static '61.png' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>60x60 Serileri</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static '45.png' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>45x45 Serileri</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static '161.png' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>60x120 Serileri</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static '121.png' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>20x90 Serileri</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="home-main.html">KULLANIM ALANLARI</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'İÇMEKAN.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>İÇ MEKANLAR</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'BANYO.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>BANYOLAR</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'BALKON.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>BALKONLAR</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'DIŞMEKAN.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>DIŞ MEKANLAR</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'ENDÜS.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>ENDÜSTRİYEL ALAN</span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'HAVUZ.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>HAVUZ</span>
                                                        </a>
                                                    </li>
                                                     <li class="menu-item">
                                                        <a href="home-main.html" style="display: flex; align-items: center; gap: 10px;">
                                                            <img src="{% static 'MUTFAK.webp' %}" alt="Main Home" style="width: 75px; height: 75px; border-radius: 50%; object-fit: cover;">
                                                            <span>MUTFAK ARASI</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item">
                                                <a href="contact.html">BLOG</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="contact.html">İLETİŞİM</a>
                                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </header>



